<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/quanlysinhvien?serverTimezone=UTC
        </property>
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.username">root</property>

        <mapping resource="pojo/SinhVien.hbm.xml"/>
        <mapping resource="pojo/Diem.hbm.xml"/>
        <mapping resource="pojo/TaiKhoan.hbm.xml"/>
        <mapping resource="pojo/ThoiKhoaBieu.hbm.xml"/>
        <mapping resource="pojo/DanhSachChoMonHoc.hbm.xml"/>
        <mapping resource="pojo/BangPhucKhao.hbm.xml"/>
        <mapping resource="pojo/PhucKhao.hbm.xml"/>


    </session-factory>
</hibernate-configuration>